# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/amp
!web/app/plugins/df_social_media
!web/app/plugins/df-vc-extender
!web/app/plugins/js_composer
!web/app/plugins/revslider
!web/app/plugins/wordpress-importer-OCDI
!web/app/plugins/wordpress-popular-posts
!web/app/plugins/wp-missed-schedule
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
